k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'home-patricie-0'
   storageMountPath = '/home/user'
   homeDir = '/home/user/delly_k8s'
   launchDir = '/home/user/delly_k8s/launch'
   projectDir = '/home/user/delly_k8s/project'
   workDir = '/home/user/delly_k8s/temp'
   pod = [ [volumeClaim: 'pvc-medgen-plevova', mountPath: "/storage" ]]
}

process {
   shell = ['/bin/bash', '-euo', 'pipefail']
   scratch = true
   executor = 'k8s'
   cpus = 1
   memory = '1GB'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

